In [1]:
import system_desing as sd
import data as dt
import pandas as pd
import numpy as np

In [109]:
ema = sd.ema(close = sd.train_ohlc['close'], short_length = 13, long_length = 36)

In [110]:
ema.columns = ["Short EMA", "Long EMA"]
ema

                       Short EMA     Long EMA
timestamp
2018-06-24 21:00:00          NaN          NaN
2018-06-25 01:00:00          NaN          NaN
2018-06-25 05:00:00          NaN          NaN
2018-06-25 09:00:00          NaN          NaN
2018-06-25 13:00:00          NaN          NaN
...                          ...          ...
2020-01-31 02:00:00  9327.031171  9062.833359
2020-01-31 06:00:00  9328.476718  9077.661285
2020-01-31 10:00:00  9317.844329  9087.195811
2020-01-31 14:00:00  9310.116568  9096.739280
2020-01-31 18:00:00  9315.921344  9110.469589

[2483 rows x 2 columns]

In [111]:
signals = np.zeros(len(ema))
for i in range(1,len(ema)):
    if ema.iloc[:,0][i-1] <= ema.iloc[:,1][i-1] and ema.iloc[:,0][i] > ema.iloc[:,1][i]:
        signals[i] = 1
    elif ema.iloc[:,0][i-1] >= ema.iloc[:,1][i-1] and ema.iloc[:,0][i] < ema.iloc[:,1][i]:
        signals[i] = 2
    else:
        signals[i] = 0
ema["Signals"] = signals

In [112]:
data = pd.concat([ema, sd.train_ohlc["open"]], axis=1)
data

                       Short EMA     Long EMA  Signals     open
timestamp
2018-06-24 21:00:00          NaN          NaN      0.0  6037.50
2018-06-25 01:00:00          NaN          NaN      0.0  6140.00
2018-06-25 05:00:00          NaN          NaN      0.0  6115.00
2018-06-25 09:00:00          NaN          NaN      0.0  6147.50
2018-06-25 13:00:00          NaN          NaN      0.0  6102.50
...                          ...          ...      ...      ...
2020-01-31 02:00:00  9327.031171  9062.833359      0.0  9466.60
2020-01-31 06:00:00  9328.476718  9077.661285      0.0  9329.15
2020-01-31 10:00:00  9317.844329  9087.195811      0.0  9337.15
2020-01-31 14:00:00  9310.116568  9096.739280      0.0  9254.05
2020-01-31 18:00:00  9315.921344  9110.469589      0.0  9263.75

[2483 rows x 4 columns]

In [113]:
lista = []
for i in range(1,len(data)):
    if data.iloc[:,2][i-1] == 1:
        for j in range(i,len(data)):
            if data.iloc[:,2][j] == 2:
                lista.append([i,j+2])
                break
            continue

In [114]:
operaciones = []
for i in range(len(lista)):
    operaciones.append(pd.DataFrame(data.iloc[lista[i][0]:lista[i][1], 3]))
# quitar el 3 al corregir

In [115]:
operaciones

[                       open
 timestamp
 2018-07-16 17:00:00  6620.0
 2018-07-16 21:00:00  6655.0
 2018-07-17 01:00:00  6737.5
 2018-07-17 05:00:00  6715.0
 2018-07-17 09:00:00  6717.5
 ...                     ...
 2018-07-31 09:00:00  8027.5
 2018-07-31 13:00:00  7783.5
 2018-07-31 17:00:00  7771.5
 2018-07-31 21:00:00  7677.5
 2018-08-01 01:00:00  7648.5

 [69 rows x 1 columns],
                        open
 timestamp
 2018-08-20 17:00:00  6464.5
 2018-08-20 21:00:00  6445.0
 2018-08-21 01:00:00  6280.0,
                        open
 timestamp
 2018-08-22 01:00:00  6452.5
 2018-08-22 05:00:00  6717.5
 2018-08-22 09:00:00  6671.5
 2018-08-22 13:00:00  6650.5
 2018-08-22 17:00:00  6402.5
 2018-08-22 21:00:00  6316.5
 2018-08-23 01:00:00  6402.5
 2018-08-23 05:00:00  6378.5
 2018-08-23 09:00:00  6416.5
 2018-08-23 13:00:00  6418.0
 2018-08-23 17:00:00  6435.5
 2018-08-23 21:00:00  6408.0,
                        open
 timestamp
 2018-08-24 01:00:00  6479.5
 2018-08-24 05:00:00  6493.5
 2018-08-24 09:00:00  6512.5
 2018-08-24 13:00:00  6548.5
 2018-08-24 17:00:00  6537.5
 2018-08-26 21:00:00  6608.0
 2018-08-27 01:00:00  6702.5
 2018-08-27 05:00:00  6701.5
 2018-08-27 09:00:00  6699.5
 2018-08-27 13:00:00  6667.0
 2018-08-27 17:00:00  6737.0
 2018-08-27 21:00:00  6715.5
 2018-08-28 01:00:00  6902.0
 2018-08-28 05:00:00  6898.5
 2018-08-28 09:00:00  6913.5
 2018-08-28 13:00:00  7034.0
 2018-08-28 17:00:00  7018.5
 2018-08-28 21:00:00  7085.5
 2018-08-29 01:00:00  7065.5
 2018-08-29 05:00:00  7042.5
 2018-08-29 09:00:00  7069.5
 2018-08-29 13:00:00  7084.0
 2018-08-29 17:00:00  6990.0
 2018-08-29 21:00:00  7049.0
 2018-08-30 01:00:00  7047.5
 2018-08-30 05:00:00  7018.5
 2018-08-30 09:00:00  6939.5
 2018-08-30 13:00:00  6825.5
 2018-08-30 17:00:00  6853.5
 2018-08-30 21:00:00  6909.0
 2018-08-31 01:00:00  6942.5
 2018-08-31 05:00:00  7011.5
 2018-08-31 09:00:00  6934.5
 2018-08-31 13:00:00  6887.5
 2018-08-31 17:00:00  6982.5
 2018-09-02 21:00:00  7040.0
 2018-09-03 01:00:00  7269.0
 2018-09-03 05:00:00  7206.0
 2018-09-03 09:00:00  7242.5
 2018-09-03 13:00:00  7249.0
 2018-09-03 21:00:00  7262.0
 2018-09-04 01:00:00  7273.0
 2018-09-04 05:00:00  7253.0
 2018-09-04 09:00:00  7283.5
 2018-09-04 13:00:00  7358.0
 2018-09-04 17:00:00  7369.0
 2018-09-04 21:00:00  7371.5
 2018-09-05 01:00:00  7378.0
 2018-09-05 05:00:00  7352.5
 2018-09-05 09:00:00  7377.5
 2018-09-05 13:00:00  6982.5
 2018-09-05 17:00:00  6909.0
 2018-09-05 21:00:00  6944.5
 2018-09-06 01:00:00  6406.5
 2018-09-06 05:00:00  6402.5,
                        open
 timestamp
 2018-09-21 01:00:00  6490.5
 2018-09-21 05:00:00  6534.5
 2018-09-21 09:00:00  6701.5
 2018-09-21 13:00:00  6724.5
 2018-09-21 17:00:00  6708.5
 2018-09-23 21:00:00  6747.5
 2018-09-24 01:00:00  6679.5
 2018-09-24 05:00:00  6696.0
 2018-09-24 09:00:00  6626.0
 2018-09-24 13:00:00  6609.5
 2018-09-24 17:00:00  6599.0
 2018-09-24 21:00:00  6615.0
 2018-09-25 01:00:00  6504.5
 2018-09-25 05:00:00  6441.0
 2018-09-25 09:00:00  6388.0
 2018-09-25 13:00:00  6423.0
 2018-09-25 17:00:00  6372.0
 2018-09-25 21:00:00  6366.5
 2018-09-26 01:00:00  6396.5,
                        open
 timestamp
 2018-09-27 01:00:00  6488.5
 2018-09-27 05:00:00  6475.0
 2018-09-27 09:00:00  6454.0,
                        open
 timestamp
 2018-09-27 13:00:00  6494.5
 2018-09-27 17:00:00  6493.0
 2018-09-27 21:00:00  6685.5
 2018-09-28 01:00:00  6696.5
 2018-09-28 05:00:00  6703.0
 2018-09-28 09:00:00  6721.5
 2018-09-28 13:00:00  6571.5
 2018-09-28 17:00:00  6639.0
 2018-09-30 21:00:00  6615.5
 2018-10-01 01:00:00  6610.5
 2018-10-01 05:00:00  6596.0
 2018-10-01 09:00:00  6600.5
 2018-10-01 13:00:00  6580.0
 2018-10-01 17:00:00  6548.0
 2018-10-01 21:00:00  6527.0
 2018-10-02 01:00:00  6542.0
 2018-10-02 05:00:00  6569.0
 2018-10-02 09:00:00  6560.0
 2018-10-02 13:00:00  6538.5
 2018-10-02 17:00:00  6486.0
 2018-10-02 21:00:00  6508.0
 2018-10-03 01:00:00  6494.5
 2018-10-03 05:00:00  6405.0,
                          open
 timestamp
 2018-10-05 01:00:00  6570.400
 2018-10-05 05:00:00  6528.000
 2018-10-05 09:00:00  6515.750
 2018-10-05 13:00:00  6534.750
 2018-10-05 17:00:00  6530.250
 2018-10-07 21:00:00  6519.500
 2018-10-08 01:00:00  6558.000
 2018-10-08 05:00:00  6551.500
 2018-10-08 09:00:00  6542.500
 2018-10-08 13:00:00  6631.500
 2018-10-08 17:00:00  6612.250
 2018-10-08 21:00:00  6616.445
 2018-10-09 01:00:00  6600.250
 2018-10-09 05:00:00  6607.500
 2018-10-09 09:00:00  6587.750
 2018-10-09 13:00:00  6582.250
 2018-10-09 17:00:00  6569.500
 2018-10-09 21:00:00  6572.250
 2018-10-10 01:00:00  6572.250
 2018-10-10 05:00:00  6519.750
 2018-10-10 09:00:00  6505.000
 2018-10-10 13:00:00  6504.750
 2018-10-10 17:00:00  6502.750,
                         open
 timestamp
 2018-10-17 01:00:00  6442.25
 2018-10-17 05:00:00  6430.00
 2018-10-17 09:00:00  6432.25
 2018-10-17 13:00:00  6417.25
 2018-10-17 17:00:00  6440.00
 2018-10-17 21:00:00  6423.00
 2018-10-18 01:00:00  6427.25
 2018-10-18 05:00:00  6442.25
 2018-10-18 09:00:00  6420.00
 2018-10-18 13:00:00  6420.00
 2018-10-18 17:00:00  6432.75
 2018-10-18 21:00:00  6380.00
 2018-10-19 01:00:00  6392.25
 2018-10-19 05:00:00  6395.00
 2018-10-19 09:00:00  6370.00
 2018-10-19 13:00:00  6370.00,
                         open
 timestamp
 2018-10-22 05:00:00  6419.50
 2018-10-22 09:00:00  6397.75
 2018-10-22 13:00:00  6392.75,
                         open
 timestamp
 2018-10-22 21:00:00  6407.40
 2018-10-23 01:00:00  6412.75
 2018-10-23 05:00:00  6407.50
 2018-10-23 09:00:00  6394.50
 2018-10-23 13:00:00  6387.75,
                         open
 timestamp
 2018-10-24 05:00:00  6466.00
 2018-10-24 09:00:00  6422.50
 2018-10-24 13:00:00  6427.75
 2018-10-24 17:00:00  6422.25
 2018-10-24 21:00:00  6421.50
 2018-10-25 01:00:00  6417.25
 2018-10-25 05:00:00  6392.25
 2018-10-25 09:00:00  6402.50
 2018-10-25 13:00:00  6397.50
 2018-10-25 17:00:00  6394.00
 2018-10-25 21:00:00  6400.00,
                        open
 timestamp
 2018-10-26 09:00:00  6430.0
 2018-10-26 13:00:00  6397.5,
                         open
 timestamp
 2018-11-05 02:00:00  6418.00
 2018-11-05 06:00:00  6408.00
 2018-11-05 10:00:00  6393.00
 2018-11-05 14:00:00  6408.00
 2018-11-05 18:00:00  6388.00
 2018-11-05 22:00:00  6392.50
 2018-11-06 02:00:00  6407.25
 2018-11-06 06:00:00  6397.50
 2018-11-06 10:00:00  6437.75
 2018-11-06 14:00:00  6407.75
 2018-11-06 18:00:00  6422.75
 2018-11-06 22:00:00  6417.75
 2018-11-07 02:00:00  6532.75
 2018-11-07 06:00:00  6512.25
 2018-11-07 10:00:00  6512.75
 2018-11-07 14:00:00  6520.00
 2018-11-07 18:00:00  6517.75
 2018-11-07 22:00:00  6506.00
 2018-11-08 02:00:00  6497.75
 2018-11-08 06:00:00  6447.75
 2018-11-08 10:00:00  6452.75
 2018-11-08 14:00:00  6482.75
 2018-11-08 18:00:00  6417.75
 2018-11-08 22:00:00  6417.75
 2018-11-09 02:00:00  6407.75
 2018-11-09 06:00:00  6402.75
 2018-11-09 10:00:00  6337.25
 2018-11-09 14:00:00  6345.00
 2018-11-09 18:00:00  6342.25,
                         open
 timestamp
 2018-12-18 18:00:00  3497.25
 2018-12-18 22:00:00  3520.00
 2018-12-19 02:00:00  3665.00
 2018-12-19 06:00:00  3712.75
 2018-12-19 10:00:00  3712.75
 2018-12-19 14:00:00  3842.75
 2018-12-19 18:00:00  3760.00
 2018-12-19 22:00:00  3637.50
 2018-12-20 02:00:00  3705.00
 2018-12-20 06:00:00  3667.25
 2018-12-20 10:00:00  4050.00
 2018-12-20 14:00:00  3990.00
 2018-12-20 18:00:00  4040.00
 2018-12-20 22:00:00  3965.00
 2018-12-21 02:00:00  4105.00
 2018-12-21 06:00:00  3900.00
 2018-12-21 10:00:00  3947.25
 2018-12-21 14:00:00  4007.25
 2018-12-21 18:00:00  3922.25
 2018-12-23 22:00:00  3832.50
 2018-12-24 02:00:00  4170.00
 2018-12-24 06:00:00  4200.00
 2018-12-24 10:00:00  4190.00
 2018-12-24 14:00:00  4145.00
 2018-12-24 18:00:00  4075.00
 2018-12-26 02:00:00  4067.50
 2018-12-26 06:00:00  3822.25
 2018-12-26 10:00:00  3727.25
 2018-12-26 14:00:00  3762.75
 2018-12-26 18:00:00  3757.75
 2018-12-26 22:00:00  3765.00
 2018-12-27 02:00:00  3760.00
 2018-12-27 06:00:00  3725.00
 2018-12-27 10:00:00  3740.00
 2018-12-27 14:00:00  3752.25
 2018-12-27 18:00:00  3737.25
 2018-12-27 22:00:00  3575.00,
                         open
 timestamp
 2019-01-02 18:00:00  3807.25
 2019-01-02 22:00:00  3841.00
 2019-01-03 02:00:00  3822.25
 2019-01-03 06:00:00  3810.00
 2019-01-03 10:00:00  3787.25
 2019-01-03 14:00:00  3802.25
 2019-01-03 18:00:00  3732.25
 2019-01-03 22:00:00  3755.00
 2019-01-04 02:00:00  3742.25
 2019-01-04 06:00:00  3757.25
 2019-01-04 10:00:00  3747.25
 2019-01-04 14:00:00  3737.25
 2019-01-04 18:00:00  3730.00,
                         open
 timestamp
 2019-01-06 22:00:00  3802.25
 2019-01-07 02:00:00  4017.25
 2019-01-07 06:00:00  4017.25
 2019-01-07 10:00:00  3972.25
 2019-01-07 14:00:00  3997.25
 2019-01-07 18:00:00  3997.25
 2019-01-07 22:00:00  3982.50
 2019-01-08 02:00:00  3977.25
 2019-01-08 06:00:00  3952.25
 2019-01-08 10:00:00  3985.00
 2019-01-08 14:00:00  4042.75
 2019-01-08 18:00:00  3987.25
 2019-01-08 22:00:00  3985.00
 2019-01-09 02:00:00  4002.25
 2019-01-09 06:00:00  4002.25
 2019-01-09 10:00:00  3997.25
 2019-01-09 14:00:00  3992.25
 2019-01-09 18:00:00  3987.75
 2019-01-09 22:00:00  3990.00
 2019-01-10 02:00:00  4007.75
 2019-01-10 06:00:00  4012.75
 2019-01-10 10:00:00  3750.00
 2019-01-10 14:00:00  3752.25
 2019-01-10 18:00:00  3582.25,
                         open
 timestamp
 2019-02-08 18:00:00  3627.25
 2019-02-10 22:00:00  3592.25
 2019-02-11 02:00:00  3601.00
 2019-02-11 06:00:00  3587.00
 2019-02-11 10:00:00  3597.75
 ...                      ...
 2019-02-25 22:00:00  3792.25
 2019-02-26 02:00:00  3802.25
 2019-02-26 06:00:00  3777.25
 2019-02-26 10:00:00  3772.25
 2019-02-26 14:00:00  3772.25

 [72 rows x 1 columns],
                         open
 timestamp
 2019-03-01 18:00:00  3822.25
 2019-03-03 22:00:00  3822.25
 2019-03-04 02:00:00  3792.25,
                         open
 timestamp
 2019-03-06 06:00:00  3822.25
 2019-03-06 10:00:00  3842.25
 2019-03-06 14:00:00  3837.25
 2019-03-06 18:00:00  3847.25
 2019-03-06 22:00:00  3845.00
 ...                      ...
 2019-03-25 09:00:00  3962.75
 2019-03-25 13:00:00  3949.50
 2019-03-25 17:00:00  3947.75
 2019-03-25 21:00:00  3882.75
 2019-03-26 01:00:00  3897.75

 [84 rows x 1 columns],
                         open
 timestamp
 2019-03-27 13:00:00  4012.25
 2019-03-27 17:00:00  4007.25
 2019-03-27 21:00:00  4007.25
 2019-03-28 01:00:00  4017.75
 2019-03-28 05:00:00  4002.50
 ...                      ...
 2019-04-25 17:00:00  5483.00
 2019-04-25 21:00:00  5497.75
 2019-04-26 01:00:00  5115.25
 2019-04-26 05:00:00  5170.25
 2019-04-26 09:00:00  5168.00

 [127 rows x 1 columns],
                         open
 timestamp
 2019-05-02 01:00:00  5314.75
 2019-05-02 05:00:00  5313.00
 2019-05-02 09:00:00  5378.00
 2019-05-02 13:00:00  5368.00
 2019-05-02 17:00:00  5368.00
 ...                      ...
 2019-06-03 13:00:00  8605.00
 2019-06-03 17:00:00  8600.00
 2019-06-03 21:00:00  8637.50
 2019-06-04 01:00:00  7980.00
 2019-06-04 05:00:00  7962.75

 [140 rows x 1 columns],
                          open
 timestamp
 2019-06-12 21:00:00   8164.50
 2019-06-13 01:00:00   8205.25
 2019-06-13 05:00:00   8182.75
 2019-06-13 09:00:00   8180.25
 2019-06-13 13:00:00   8137.75
 ...                       ...
 2019-07-01 05:00:00  11069.50
 2019-07-01 09:00:00  11095.25
 2019-07-01 13:00:00  10618.50
 2019-07-01 17:00:00  10294.00
 2019-07-01 21:00:00  10502.00

 [79 rows x 1 columns],
                          open
 timestamp
 2019-07-03 21:00:00  11286.75
 2019-07-04 01:00:00  11848.25
 2019-07-04 05:00:00  11676.50
 2019-07-04 09:00:00  11794.00
 2019-07-04 13:00:00  11805.00
 2019-07-04 21:00:00  11815.25
 2019-07-05 01:00:00  11176.00
 2019-07-05 05:00:00  11184.00
 2019-07-05 09:00:00  10912.00
 2019-07-05 13:00:00  11205.00
 2019-07-05 17:00:00  11169.00
 2019-07-07 21:00:00  11051.25
 2019-07-08 01:00:00  11439.00
 2019-07-08 05:00:00  11499.75
 2019-07-08 09:00:00  11784.50
 2019-07-08 13:00:00  11903.00
 2019-07-08 17:00:00  11887.00
 2019-07-08 21:00:00  12223.25
 2019-07-09 01:00:00  12278.75
 2019-07-09 05:00:00  12739.00
 2019-07-09 09:00:00  12588.00
 2019-07-09 13:00:00  12406.50
 2019-07-09 17:00:00  12569.00
 2019-07-09 21:00:00  12425.25
 2019-07-10 01:00:00  12888.00
 2019-07-10 05:00:00  13038.00
 2019-07-10 09:00:00  12959.50
 2019-07-10 13:00:00  13064.25
 2019-07-10 17:00:00  12318.00
 2019-07-10 21:00:00  11797.50
 2019-07-11 01:00:00  11933.00
 2019-07-11 05:00:00  11407.50
 2019-07-11 09:00:00  11457.00
 2019-07-11 13:00:00  11605.00
 2019-07-11 17:00:00  11727.00
 2019-07-11 21:00:00  11164.25
 2019-07-12 01:00:00  11481.00,
                          open
 timestamp
 2019-08-01 09:00:00  10007.00
 2019-08-01 13:00:00  10048.50
 2019-08-01 17:00:00  10089.50
 2019-08-01 21:00:00  10452.25
 2019-08-02 01:00:00  10413.00
 2019-08-02 05:00:00  10402.00
 2019-08-02 09:00:00  10539.50
 2019-08-02 13:00:00  10580.00
 2019-08-02 17:00:00  10460.00
 2019-08-04 21:00:00  10454.00
 2019-08-05 01:00:00  11231.00
 2019-08-05 05:00:00  11592.50
 2019-08-05 09:00:00  11791.00
 2019-08-05 13:00:00  11814.00
 2019-08-05 17:00:00  11897.00
 2019-08-05 21:00:00  11746.50
 2019-08-06 01:00:00  11747.25
 2019-08-06 05:00:00  11677.00
 2019-08-06 09:00:00  12223.00
 2019-08-06 13:00:00  11680.00
 2019-08-06 17:00:00  11787.50
 2019-08-06 21:00:00  11676.00
 2019-08-07 01:00:00  11477.50
 2019-08-07 05:00:00  11690.50
 2019-08-07 09:00:00  11560.00
 2019-08-07 13:00:00  11784.00
 2019-08-07 17:00:00  11648.00
 2019-08-07 21:00:00  11869.25
 2019-08-08 01:00:00  11968.00
 2019-08-08 05:00:00  11943.25
 2019-08-08 09:00:00  11900.00
 2019-08-08 13:00:00  11851.00
 2019-08-08 17:00:00  11709.75
 2019-08-08 21:00:00  11607.00
 2019-08-09 01:00:00  11969.00
 2019-08-09 05:00:00  11889.00
 2019-08-09 09:00:00  11822.50
 2019-08-09 13:00:00  11757.00
 2019-08-09 17:00:00  11766.50
 2019-08-11 21:00:00  11875.00
 2019-08-12 01:00:00  11475.00
 2019-08-12 05:00:00  11426.50
 2019-08-12 09:00:00  11361.50
 2019-08-12 13:00:00  11393.00
 2019-08-12 17:00:00  11395.00
 2019-08-12 21:00:00  11422.75
 2019-08-13 01:00:00  11418.00
 2019-08-13 05:00:00  11344.50
 2019-08-13 09:00:00  11327.00
 2019-08-13 13:00:00  11210.50
 2019-08-13 17:00:00  10804.50,
                          open
 timestamp
 2019-09-03 05:00:00  10420.00
 2019-09-03 09:00:00  10382.00
 2019-09-03 13:00:00  10590.00
 2019-09-03 17:00:00  10664.75
 2019-09-03 21:00:00  10726.75
 2019-09-04 01:00:00  10595.00
 2019-09-04 05:00:00  10597.75
 2019-09-04 09:00:00  10513.25
 2019-09-04 13:00:00  10491.75
 2019-09-04 17:00:00  10578.00
 2019-09-04 21:00:00  10643.50
 2019-09-05 01:00:00  10529.25
 2019-09-05 05:00:00  10602.50
 2019-09-05 09:00:00  10594.75
 2019-09-05 13:00:00  10585.00
 2019-09-05 17:00:00  10538.50
 2019-09-05 21:00:00  10534.25
 2019-09-06 01:00:00  10584.75
 2019-09-06 05:00:00  10724.00
 2019-09-06 09:00:00  10744.00
 2019-09-06 13:00:00  10875.00
 2019-09-06 17:00:00  10901.50
 2019-09-08 21:00:00  10374.50
 2019-09-09 01:00:00  10407.75
 2019-09-09 05:00:00  10333.50
 2019-09-09 09:00:00  10152.00
 2019-09-09 13:00:00  10381.00
 2019-09-09 17:00:00  10263.75
 2019-09-09 21:00:00  10247.50
 2019-09-10 01:00:00  10351.00
 2019-09-10 05:00:00  10309.75
 2019-09-10 09:00:00  10265.00,
                         open
 timestamp
 2019-09-13 13:00:00  10360.0
 2019-09-13 17:00:00  10320.5
 2019-09-15 21:00:00  10283.5
 2019-09-16 01:00:00  10356.5
 2019-09-16 05:00:00  10338.0
 2019-09-16 09:00:00  10317.5
 2019-09-16 13:00:00  10158.5
 2019-09-16 17:00:00  10160.5,
                         open
 timestamp
 2019-10-09 21:00:00  8604.25
 2019-10-10 01:00:00  8590.50
 2019-10-10 05:00:00  8600.50
 2019-10-10 09:00:00  8584.00
 2019-10-10 13:00:00  8501.50
 2019-10-10 17:00:00  8560.00
 2019-10-10 21:00:00  8601.50
 2019-10-11 01:00:00  8550.00
 2019-10-11 05:00:00  8743.00
 2019-10-11 09:00:00  8381.00
 2019-10-11 13:00:00  8360.50
 2019-10-11 17:00:00  8363.50
 2019-10-13 21:00:00  8355.75
 2019-10-14 01:00:00  8293.50
 2019-10-14 05:00:00  8301.50
 2019-10-14 09:00:00  8335.00
 2019-10-14 13:00:00  8276.00
 2019-10-14 17:00:00  8361.00
 2019-10-14 21:00:00  8362.25
 2019-10-15 01:00:00  8383.50
 2019-10-15 05:00:00  8350.50
 2019-10-15 09:00:00  8305.50,
                        open
 timestamp
 2019-10-22 09:00:00  8283.0
 2019-10-22 13:00:00  8264.0
 2019-10-22 17:00:00  8219.0
 2019-10-22 21:00:00  8146.0
 2019-10-23 01:00:00  8047.0,
                         open
 timestamp
 2019-10-28 01:00:00  9734.75
 2019-10-28 05:00:00  9646.00
 2019-10-28 09:00:00  9385.00
 2019-10-28 13:00:00  9356.00
 2019-10-28 17:00:00  9392.50
 2019-10-28 21:00:00  9479.75
 2019-10-29 01:00:00  9302.00
 2019-10-29 05:00:00  9443.50
 2019-10-29 09:00:00  9447.00
 2019-10-29 13:00:00  9429.00
 2019-10-29 17:00:00  9335.00
 2019-10-29 21:00:00  9466.00
 2019-10-30 01:00:00  9384.00
 2019-10-30 05:00:00  9273.00
 2019-10-30 09:00:00  9217.50
 2019-10-30 13:00:00  9142.50
 2019-10-30 17:00:00  9084.50
 2019-10-30 21:00:00  9205.25
 2019-10-31 01:00:00  9164.00
 2019-10-31 05:00:00  9109.50
 2019-10-31 09:00:00  9140.50
 2019-10-31 13:00:00  9346.00
 2019-10-31 17:00:00  9279.50
 2019-10-31 21:00:00  9189.50
 2019-11-01 01:00:00  9151.00
 2019-11-01 05:00:00  9115.50
 2019-11-01 09:00:00  9174.50
 2019-11-01 13:00:00  9226.50
 2019-11-01 17:00:00  9179.50
 2019-11-03 22:00:00  9226.00
 2019-11-04 02:00:00  9180.00
 2019-11-04 06:00:00  9164.00
 2019-11-04 10:00:00  9192.50
 2019-11-04 14:00:00  9274.00
 2019-11-04 18:00:00  9343.85
 2019-11-04 22:00:00  9462.90
 2019-11-05 02:00:00  9459.00
 2019-11-05 06:00:00  9425.50
 2019-11-05 10:00:00  9308.50
 2019-11-05 14:00:00  9255.00
 2019-11-05 18:00:00  9365.00
 2019-11-05 22:00:00  9373.70
 2019-11-06 02:00:00  9335.50
 2019-11-06 06:00:00  9355.50
 2019-11-06 10:00:00  9376.00
 2019-11-06 14:00:00  9349.35
 2019-11-06 18:00:00  9318.00
 2019-11-06 22:00:00  9337.15
 2019-11-07 02:00:00  9341.00
 2019-11-07 06:00:00  9324.00
 2019-11-07 10:00:00  9233.50
 2019-11-07 14:00:00  9213.00
 2019-11-07 18:00:00  9208.00
 2019-11-07 22:00:00  9229.45
 2019-11-08 02:00:00  9233.00
 2019-11-08 06:00:00  9213.00
 2019-11-08 10:00:00  9033.50
 2019-11-08 14:00:00  8800.50,
                        open
 timestamp
 2019-11-29 18:00:00  7782.0
 2019-12-01 22:00:00  7725.2
 2019-12-02 02:00:00  7428.0
 2019-12-02 06:00:00  7302.9,
                         open
 timestamp
 2019-12-08 22:00:00  7484.65
 2019-12-09 02:00:00  7515.35
 2019-12-09 06:00:00  7510.95
 2019-12-09 10:00:00  7481.50
 2019-12-09 14:00:00  7521.50
 2019-12-09 18:00:00  7448.50
 2019-12-09 22:00:00  7377.85
 2019-12-10 02:00:00  7371.50
 2019-12-10 06:00:00  7364.50
 2019-12-10 10:00:00  7324.00,
                         open
 timestamp
 2019-12-20 10:00:00  7150.00
 2019-12-20 14:00:00  7201.00
 2019-12-20 18:00:00  7198.00
 2019-12-22 22:00:00  7221.50
 2019-12-23 02:00:00  7641.00
 2019-12-23 06:00:00  7570.00
 2019-12-23 10:00:00  7553.00
 2019-12-23 14:00:00  7541.00
 2019-12-23 18:00:00  7415.00
 2019-12-23 22:00:00  7335.30
 2019-12-24 02:00:00  7313.50
 2019-12-24 06:00:00  7340.50
 2019-12-24 10:00:00  7376.00
 2019-12-24 14:00:00  7385.00
 2019-12-24 18:00:00  7239.25
 2019-12-26 06:00:00  7247.45
 2019-12-26 10:00:00  7219.00
 2019-12-26 14:00:00  7218.00
 2019-12-26 18:00:00  7374.00
 2019-12-26 22:00:00  7231.00
 2019-12-27 02:00:00  7208.50
 2019-12-27 06:00:00  7203.50
 2019-12-27 10:00:00  7177.50
 2019-12-27 14:00:00  7191.50
 2019-12-27 18:00:00  7205.00
 2019-12-29 22:00:00  7236.50
 2019-12-30 02:00:00  7360.00
 2019-12-30 06:00:00  7381.50
 2019-12-30 10:00:00  7327.50
 2019-12-30 14:00:00  7318.50
 2019-12-30 18:00:00  7257.50
 2019-12-30 22:00:00  7268.65
 2019-12-31 02:00:00  7257.00
 2019-12-31 06:00:00  7262.00
 2019-12-31 10:00:00  7224.00
 2019-12-31 14:00:00  7238.00
 2019-12-31 18:00:00  7153.00
 2020-01-02 06:00:00  7156.50,
                         open
 timestamp
 2020-01-05 22:00:00  7288.35

In [120]:
[(operaciones[i].iloc[-1] / operaciones[i].iloc[0] - 1) * 100 for i in range(len(operaciones))]

[open    15.536254
 dtype: float64,
 open   -2.854049
 dtype: float64,
 open   -0.689655
 dtype: float64,
 open   -1.188363
 dtype: float64,
 open   -1.448271
 dtype: float64,
 open   -0.53171
 dtype: float64,
 open   -1.378089
 dtype: float64,
 open   -1.029618
 dtype: float64,
 open   -1.121503
 dtype: float64,
 open   -0.416699
 dtype: float64,
 open   -0.306677
 dtype: float64,
 open   -1.020724
 dtype: float64,
 open   -0.505443
 dtype: float64,
 open   -1.180274
 dtype: float64,
 open    2.223175
 dtype: float64,
 open   -2.029024
 dtype: float64,
 open   -5.786048
 dtype: float64,
 open    3.997519
 dtype: float64,
 open   -0.784878
 dtype: float64,
 open    1.975276
 dtype: float64,
 open    28.805533
 dtype: float64,
 open    49.823604
 dtype: float64,
 open    28.630045
 dtype: float64,
 open    1.721045
 dtype: float64,
 open    7.969421
 dtype: float64,
 open   -1.487524
 dtype: float64,
 open   -1.925676
 dtype: float64,
 open   -3.472121
 dtype: float64,
 open   -2.849209
 dtype: float64,
 open   -9.597062
 dtype: float64,
 open   -6.156515
 dtype: float64,
 open   -2.146393
 dtype: float64,
 open    0.090909
 dtype: float64,
 open    14.106073
 dtype: float64]

In [96]:
sum([(operaciones[i].iloc[-1] / operaciones[i].iloc[0] - 1) * 100 for i in range(len(operaciones))])

open    104.973331
dtype: float64

In [121]:
# Método ineficiente
# Cruce de médias móviles , estrategia long, montecralo para obtener la longitud de medias con mayor rendimiento
longitud = []
resultado = []
comision = .1 #ya en porcentaje
for i in range(1,10):
    for j in range(1,10):
        if j > i:  
            ema = sd.ema(close = sd.train_ohlc['close'], short_length = i, long_length = j)
            ema.columns = ["Short EMA", "Long EMA"]

            signals = np.zeros(len(ema))
            for x in range(1,len(ema)):
                if ema.iloc[:,0][x-1] <= ema.iloc[:,1][x-1] and ema.iloc[:,0][x] > ema.iloc[:,1][x]:
                    signals[x] = 1
                elif ema.iloc[:,0][x-1] >= ema.iloc[:,1][x-1] and ema.iloc[:,0][x] < ema.iloc[:,1][x]:
                    signals[x] = 2
                else:
                    signals[x] = 0
            ema["Signals"] = signals

            data = pd.concat([ema, sd.train_ohlc["open"]], axis=1)

            lista = []
            for m in range(1,len(data)):
                if data.iloc[:,2][m-1] == 1:
                    for n in range(m,len(data)):
                        if data.iloc[:,2][n] == 2:
                            lista.append([m,n+2])
                            break
                        continue

            operaciones = []
            for y in range(len(lista)):
                operaciones.append(pd.DataFrame(data.iloc[lista[y][0]:lista[y][1], 3]))
            # quitar el 3 al corregir
            rend = sum([(operaciones[i].iloc[-1] / operaciones[i].iloc[0] - 1) * 100 - comision for i in range(len(operaciones))])[0]

            longitud.append([i,j])
            resultado.append([rend])
        else:
            continue

In [122]:
max(resultado), longitud[resultado.index(max(resultado))]

([138.56735040097018], [1, 9])