In [1]:
import system_desing as sd
import data as dt
import pandas as pd
import numpy as np

In [2]:
ema = sd.ema

In [3]:
ema.columns = ["Short EMA", "Long EMA"]
ema

                        Short EMA      Long EMA
timestamp
2021-06-01 00:00:00           NaN           NaN
2021-06-01 00:30:00           NaN           NaN
2021-06-01 01:00:00           NaN           NaN
2021-06-01 01:30:00           NaN           NaN
2021-06-01 02:00:00           NaN           NaN
...                           ...           ...
2021-11-23 00:00:00  56497.157791  56628.643003
2021-11-23 00:30:00  56523.637233  56628.757002
2021-11-23 01:00:00  56573.509787  56646.787377
2021-11-23 01:30:00  56629.807829  56672.813955
2021-11-23 02:00:00  56690.346263  56705.274711

[5999 rows x 2 columns]

In [4]:
signals = np.zeros(len(ema))
for i in range(1,len(ema)):
    if ema.iloc[:,0][i-1] <= ema.iloc[:,1][i-1] and ema.iloc[:,0][i] > ema.iloc[:,1][i]:
        signals[i] = 1
    elif ema.iloc[:,0][i-1] >= ema.iloc[:,1][i-1] and ema.iloc[:,0][i] < ema.iloc[:,1][i]:
        signals[i] = 2
    else:
        signals[i] = 0
ema["Signals"] = signals

In [5]:
data = pd.concat([ema, sd.train_ohlc["open"]], axis=1)
data

                        Short EMA      Long EMA  Signals       open
timestamp
2021-06-01 00:00:00           NaN           NaN      0.0  37276.445
2021-06-01 00:30:00           NaN           NaN      0.0  37700.500
2021-06-01 01:00:00           NaN           NaN      0.0  37826.500
2021-06-01 01:30:00           NaN           NaN      0.0  37500.500
2021-06-01 02:00:00           NaN           NaN      0.0  37263.250
...                           ...           ...      ...        ...
2021-11-23 00:00:00  56497.157791  56628.643003      0.0  56290.000
2021-11-23 00:30:00  56523.637233  56628.757002      0.0  56794.300
2021-11-23 01:00:00  56573.509787  56646.787377      0.0  56629.555
2021-11-23 01:30:00  56629.807829  56672.813955      0.0  56773.000
2021-11-23 02:00:00  56690.346263  56705.274711      0.0  56855.000

[5999 rows x 4 columns]

In [45]:
lista = []
for i in range(1,len(data)):
     for j in range(i,len(data)):
        if data.iloc[:,2][i-1] == 1:
            if data.iloc[:,2][j] == 2:
                lista.append([i,j+2])
                break
            continue

In [74]:
operaciones = []
for i in range(len(lista)):
    operaciones.append(pd.DataFrame(data.iloc[lista[i][0]:lista[i][1], 3]))
# quitar el 3 al corregir

In [88]:
[(operaciones[i].iloc[-1] / operaciones[i].iloc[0] - 1) * 100 for i in range(len(operaciones))]

[open   -1.783916
 dtype: float64,
 open   -0.517981
 dtype: float64,
 open    2.804885
 dtype: float64,
 open    1.463325
 dtype: float64,
 open   -0.455795
 dtype: float64,
 open   -2.432207
 dtype: float64,
 open   -3.354688
 dtype: float64,
 open   -0.702137
 dtype: float64,
 open   -1.437374
 dtype: float64,
 open   -0.997521
 dtype: float64,
 open    8.467232
 dtype: float64,
 open   -1.395116
 dtype: float64,
 open   -0.623388
 dtype: float64,
 open    6.591982
 dtype: float64,
 open   -1.184937
 dtype: float64,
 open   -0.6528
 dtype: float64,
 open   -1.849646
 dtype: float64,
 open   -0.550964
 dtype: float64,
 open   -0.198089
 dtype: float64,
 open   -2.331935
 dtype: float64,
 open    2.945221
 dtype: float64,
 open    3.289065
 dtype: float64,
 open    0.036198
 dtype: float64,
 open   -0.924439
 dtype: float64,
 open   -1.005206
 dtype: float64,
 open   -1.448755
 dtype: float64,
 open    3.851657
 dtype: float64,
 open   -1.318836
 dtype: float64,
 open   -0.72304
 dtype: float64,
 open   -1.199408
 dtype: float64,
 open   -0.505156
 dtype: float64,
 open   -3.893036
 dtype: float64,
 open   -2.095278
 dtype: float64,
 open   -0.812746
 dtype: float64,
 open   -2.185494
 dtype: float64,
 open    0.874797
 dtype: float64,
 open   -1.056151
 dtype: float64,
 open   -0.816673
 dtype: float64,
 open    2.261605
 dtype: float64,
 open   -0.417896
 dtype: float64,
 open   -0.881456
 dtype: float64,
 open   -0.936973
 dtype: float64,
 open    0.060713
 dtype: float64,
 open   -0.504233
 dtype: float64,
 open   -0.527674
 dtype: float64,
 open   -0.459114
 dtype: float64,
 open   -0.903717
 dtype: float64,
 open   -0.834948
 dtype: float64,
 open   -0.684101
 dtype: float64,
 open    6.937622
 dtype: float64,
 open    0.013521
 dtype: float64,
 open    0.10811
 dtype: float64,
 open   -0.644959
 dtype: float64,
 open    9.233626
 dtype: float64,
 open    5.720155
 dtype: float64,
 open   -1.290978
 dtype: float64,
 open   -1.685209
 dtype: float64,
 open   -0.963805
 dtype: float64,
 open   -1.568737
 dtype: float64,
 open    0.646054
 dtype: float64,
 open   -1.895529
 dtype: float64,
 open   -1.904583
 dtype: float64,
 open   -1.1844
 dtype: float64,
 open   -0.831897
 dtype: float64,
 open    3.069412
 dtype: float64,
 open    2.379329
 dtype: float64,
 open    11.570228
 dtype: float64,
 open   -1.68476
 dtype: float64,
 open   -0.82595
 dtype: float64,
 open    0.204951
 dtype: float64,
 open    5.304418
 dtype: float64,
 open   -0.940202
 dtype: float64,
 open   -0.961971
 dtype: float64,
 open   -1.24241
 dtype: float64,
 open   -1.082401
 dtype: float64,
 open   -1.111516
 dtype: float64,
 open   -0.79309
 dtype: float64,
 open   -0.831969
 dtype: float64,
 open    10.549775
 dtype: float64,
 open   -0.668549
 dtype: float64,
 open   -1.340699
 dtype: float64,
 open   -0.732404
 dtype: float64,
 open   -1.387666
 dtype: float64,
 open   -0.910947
 dtype: float64,
 open    1.880258
 dtype: float64,
 open   -1.064559
 dtype: float64,
 open   -1.258558
 dtype: float64,
 open    4.725799
 dtype: float64,
 open    0.905928
 dtype: float64,
 open   -0.163094
 dtype: float64,
 open   -0.416896
 dtype: float64,
 open   -1.306127
 dtype: float64,
 open   -0.571761
 dtype: float64,
 open   -0.553667
 dtype: float64,
 open   -1.503276
 dtype: float64,
 open    0.028125
 dtype: float64,
 open   -0.887391
 dtype: float64,
 open   -0.241803
 dtype: float64,
 open   -2.565654
 dtype: float64,
 open   -4.756437
 dtype: float64,
 open    7.077906
 dtype: float64,
 open   -1.059775
 dtype: float64,
 open   -0.474289
 dtype: float64,
 open   -1.456821
 dtype: float64,
 open   -0.126082
 dtype: float64,
 open    3.540788
 dtype: float64,
 open   -0.705933
 dtype: float64,
 open   -0.921069
 dtype: float64,
 open   -4.564029
 dtype: float64,
 open    1.262133
 dtype: float64,
 open   -0.730536
 dtype: float64,
 open    1.014944
 dtype: float64,
 open    1.449327
 dtype: float64,
 open    9.58166
 dtype: float64,
 open   -0.236142
 dtype: float64,
 open   -1.32958
 dtype: float64,
 open    4.183264
 dtype: float64,
 open    4.303881
 dtype: float64,
 open   -0.947382
 dtype: float64,
 open   -0.732828
 dtype: float64,
 open    0.46588
 dtype: float64,
 open    3.825313
 dtype: float64,
 open   -1.17108
 dtype: float64,
 open   -2.559653
 dtype: float64,
 open    2.131857
 dtype: float64,
 open   -0.770557
 dtype: float64,
 open   -1.055505
 dtype: float64,
 open    4.29786
 dtype: float64,
 open   -1.464373
 dtype: float64,
 open    0.097543
 dtype: float64,
 open   -1.292917
 dtype: float64,
 open    2.056081
 dtype: float64,
 open    2.29213
 dtype: float64,
 open   -1.568345
 dtype: float64,
 open   -0.485051
 dtype: float64,
 open   -1.589642
 dtype: float64,
 open    1.232623
 dtype: float64,
 open   -0.574076
 dtype: float64,
 open   -0.476115
 dtype: float64,
 open    2.296759
 dtype: float64,
 open   -0.964772
 dtype: float64,
 open   -2.159899
 dtype: float64,
 open    0.659315
 dtype: float64,
 open   -0.997556
 dtype: float64,
 open   -0.5845
 dtype: float64,
 open    2.668007
 dtype: float64,
 open   -0.619527
 dtype: float64,
 open   -0.874433
 dtype: float64,
 open   -0.997724
 dtype: float64,
 open   -0.356126
 dtype: float64,
 open    7.318219
 dtype: float64,
 open   -1.06707
 dtype: float64,
 open   -1.165749
 dtype: float64,
 open   -0.431368
 dtype: float64,
 open   -1.694292
 dtype: float64,
 open   -0.968757
 dtype: float64,
 open   -0.405428
 dtype: float64,
 open   -0.222349
 dtype: float64,
 open   -0.683319
 dtype: float64,
 open    2.151795
 dtype: float64,
 open   -1.445827
 dtype: float64,
 open   -0.963442
 dtype: float64,
 open   -0.924573
 dtype: float64,
 open    0.579758
 dtype: float64,
 open   -2.955301
 dtype: float64]

In [69]:
data.iloc[lista[1][0]:lista[1][1], 3]

timestamp
2021-06-02 02:30:00    36469.500
2021-06-02 03:00:00    36280.595
Name: open, dtype: float64